<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Home Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
	
</script>

</head>

<body>
	<header th:replace="layouts/base::header(dark)"> </header>

	<div class="container">
		<form th:action="@{/logout}" method="get">
			<div class="row">
				<div class="col-md-12 text-right">
					<button type="button" class="btn btn-primary" type="Submit">Logout</button>
					<!-- 			<button class="btn btn-md btn-danger btn-block" name="registration" -->
					<!-- 				type="Submit">Logout</button> -->
				</div>
			</div>
		</form>

		<!--header.html  that's here  -->
		<!-- 		<div th:replace="navbar :: header"></div> -->

		<div class="row">
			<br>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="'Nuevo Movimiento'"></span>
				</div>

				<div class="panel-body">

					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Fecha</th>
								<th>Codigo</th>
								<th>Color</th>
								<th>Descripción</th>
								<th>Cantidad</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<input type="text" name="fecha">
								</td>
								<td>
									<input type="text" name="fecha">
								</td>
								<td>
									<input type="text" name="fecha">
								</td>
								<td>
									<input type="text" name="fecha">
								</td>
								<td>
									<input type="text" name="fecha">
								</td>
							</tr>
						</tbody>
					</table>
					<div class="text-right">
						<button>Crear</button>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-6">

					<div class="panel-group" style="margin-top: 40px">


						<div class="panel panel-primary">
							<div class="panel-heading">
								<span th:utext="Movimientos"> </span>
							</div>

							<div class="panel-body">
								<table class="table table-striped table-hover">
									<thead>
										<tr>
											<th>Codigo</th>
											<th>Nombre</th>
											<th>Color</th>
											<th>M2</th>
										</tr>
									</thead>
									<tr class="alert alert-success">
										<td>123</td>
										<td>Mesa</td>
										<td>Wengue</td>
										<td>6</td>
									</tr>
									<tr class="alert alert-danger">
										<td>223</td>
										<td>Silla</td>
										<td>Roble</td>
										<td>-2</td>
									</tr>
									<tr class="alert alert-danger">
										<td>223</td>
										<td>Silla</td>
										<td>Roble</td>
										<td>-2</td>
									</tr>
									<tr class="alert alert-success">
										<td>123</td>
										<td>Mesa</td>
										<td>Blanca</td>
										<td>1</td>
									</tr>
									<tr class="alert alert-success">
										<td>988</td>
										<td>Botinero</td>
										<td>Wengue</td>
										<td>2</td>
									</tr>
									<tr class="alert alert-success">
										<td>123</td>
										<td>Mesa</td>
										<td>Wengue</td>
										<td>6</td>
									</tr>
									<tr class="alert alert-success">
										<td>123</td>
										<td>Mesa</td>
										<td>Wengue</td>
										<td>6</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel-group" style="margin-top: 40px">

						<div class="panel panel-primary">

							<div class="panel-heading">
								<span th:utext="Productos"></span>
							</div>
							<div class="panel-body">

								<table class="table table-striped table-hover">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Color</th>
											<th>Stock</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Mesa</td>
											<td>Blanco</td>
											<td>12</td>
										</tr>
										<tr>
											<td>Negro</td>
											<td>Botinero</td>
											<td>1</td>
										</tr>
										<tr>
											<td>Silla</td>
											<td>Wengue</td>
											<td>2</td>
										</tr>
									</tbody>
								</table>

							</div>
							<!-- 				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>